<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.domito.conductor">
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzk5KMW7MRXU2HUqXUSyCgGlCwib1nTu8" />
		
		<activity android:name="cl.domito.conductor.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cl.domito.conductor.activity.MapsActivity" />
        <activity
            android:name="cl.domito.conductor.activity.LoginActivity"
            android:label="" />
        <activity android:name="cl.domito.conductor.activity.ServicioActivity" />

        <service android:name="cl.domito.conductor.service.AsignacionServicioService"></service>
		
		</application>

</manifest>