<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.domito.conductor">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activity.ServicioEspecialActivity"
            android:label="@string/title_activity_servicio_especial"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".activity.ServicioDetalleActivity"
            android:label="@string/title_activity_servicio_detalle"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.ServicioDetalleEspecialActivity"
            android:label="@string/title_activity_servicio_detalle"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.HistoricoActivity"
            android:label="@string/title_activity_historico"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzk5KMW7MRXU2HUqXUSyCgGlCwib1nTu8" />

        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MapsActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="" />

        <service
            android:name=".service.AsignacionServicioService"
            android:enabled="true" />

        <activity
            android:name=".activity.ServicioActivity"
            android:label="@string/title_activity_servicio"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ConfiguracionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".service.RestartBroadcastReceived"
            android:enabled="true"
            android:exported="true"
            android:label="RestartBroadcastReceived" />
    </application>

</manifest>